<div id="more-navbar" class="collapse hidden-xs nav-collapse-container">
	<div class="container-fluid">
		<div class="row bottom-20">
			<div class="col-sm-3">
				<h4>About <a class="small" href="/about">View all »</a></h4>
				{% include category_small.html category="about" limit=4 %}
			</div>
			<div class="col-sm-3">
				<h4>Rider tools <a class="small" href="/tools">View all »</a></h4>
				{% include category_small.html category="tools" limit=4 %}
			</div>
			<div class="col-sm-3">
				<h4>Maps <a class="small" href="/maps">View all »</a></h4>
				{% include category_small.html category="maps" limit=4 %}
			</div>
			<div class="col-sm-3">
				<h4>Destinations <a class="small" href="/destinations">View all »</a></h4>
				{% include category_small.html category="destinations" limit=4 %}
			</div>
		</div>
	</div>
</div>