


<!-- CSS from vendors.  Use is not using vendor.css -->
<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2-bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/bs/jqc-1.11.3,dt-1.10.10/datatables.min.css"/>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.5/css/bootstrap-select.min.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/vendor/bootstrap-3-timepickr/css/bootstrap-timepicker.min.css">
 -->

<!-- Currently unused -->
<!-- <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/vendor/font-awesome/less/font-awesome.css"> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"> -->
<!-- <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/vendor/select2-bootstrap-css/select2-bootstrap.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/vendor/datatables/media/css/datatables.bootstrap.css"> -->




<!-- Use external Mapbox css because of zoom in/out images -->
<link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/vendor/vendor.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/build/css/atl.css">