<footer class="footer nocontent">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<h3>
					<a href="{{ site.baseurl }}/about">About ATLtransit</a>
				</h3>
				<p>
					atltransit is the source for information about public transit in the Atlanta region.
				</p>
				<!-- <p>
					<a href="{{ site.baseurl }}/about">About atltransit</a>
				</p> -->
			</div>
			<div class="col-md-3 col-sm-6">
				<h3><a href="{{ site.baseurl }}/guide/accessibility">Accessibility</a></h3>
				<p>Find out how to access transit and paratransit services in your community.</p>
				<p></p>
			</div>
			<div class="col-md-3 col-sm-6">
				<h3><a href="/about/feedback">Feedback</a></h3>

				<p>Please share any comments, questions, or concerns.</p>

				<p><a class="notactive" href="/about/contact"></a></p>
				&nbsp;
			</div>
			<div class="col-md-3 col-sm-6">
				<h3>
					<a href="{{ site.baseurl }}/about/agencies">Agencies</a>
				</h3>
				<div class="row">
				{% for agency in site.agencies %}
					<div class="col-xs-4 bottom-buffer" style="vertical-align:middle>
						<a href="{{ agency.website }}" target="_new">
							<img class="img-rounded img-responsive" src="{{ agency.logo }}" alt="{{ agency.name }}" title="{{ agency.name }}">
						</a>
					</div>
				{% endfor %}
				</div>
				<!-- Google Translate dropdown menu -->
				<!-- <div id="google_translate_element"></div>
				<script type="text/javascript">
					function googleTranslateElementInit() {
					  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true, gaId: 'UA-61466318-1'}, 'google_translate_element');
					}
				</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> -->
			</div>
		</div>
		<hr class="col-md-12">
		<!-- <div class="row bottom-buffer">
			<div class="col-md-3">
				<p><a href="/about/contact">Contact us</a></p>
			</div>
			<div class="col-md-3">
				<p><a href="/maps">Transit maps</a></p>
			</div>
			<div class="col-md-3">
				<p><a href="/fares">Fares</a></p>
			</div>
			<div class="col-md-3">
				<p><a href="/tools/alerts">Alerts</a></p>
			</div>
		</div> -->
		<div class="row bottom-buffer">
			<ul class="col-sm-9 list-inline">
				<li>© 2016 ATLtransit</li>
				<li><a href="#">Terms of Use</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="http://atlantaregional.com/about-us/title-vi-compliance">Discrimination Policy</a></li>
				<li><a href="/about/contact">Contact us</a></li>
			</ul>
			<ul class="col-sm-3 pull-right text-right list-inline">
				<li><a href="https://twitter.com/atltransit" title="Twitter"><i class="fa fa-2x fa-twitter"></i></a></li>
				<li><a href="https://facebook.com/atltransit" title="Facebook"><i class="fa fa-2x fa-facebook"></i></a></li>
				<li><a href="https://instagram.com/atltransit" title="Instagram"><i class="fa fa-2x fa-instagram"></i></a></li>
				<!-- <li><a href="/tools/alerts" title="Service alerts"><i class="fa fa-2x fa-exclamation-triangle"></i></a></li> -->
			</ul>
		</div>
	</div>
</footer>
