<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<h3>
					<a href="{{ site.baseurl }}/about">About atltransit</a>
				</h3>
				<p>
					atltransit is the source for information about public transit in the Atlanta region.
				</p>
				<!-- <p>
					<a href="{{ site.baseurl }}/about">About atltransit</a>
				</p> -->
			</div>
			<div class="col-md-3 col-sm-6">
				<h3><a href="http://www.sf311.org/" target="_blank">311</a></h3>
				<p>Contact us 24/7/365: dial 311 (415.701.2311 outside SF).</p>
			</div>
			<div class="col-md-3 col-sm-6">
				<h3><a href="/about/feedback">Feedback</a></h3>

				<p>We’re always looking to get better, so whether it be compliments or complaints, let us know!</p>

				<p><a class="notactive" href="/about/feedback">Submit feedback</a></p>
				&nbsp;

				<p><a class="notactive" href="/feedback/title-vi-discrimination-complaints">Discrimination Complaints</a></p>
			</div>
			<div class="col-md-3 col-sm-6">
				<p class="top-buffer">
					<a href="#"><i class="fa fa-2x fa-twitter"></i></a>
					<a href="#"><i class="fa fa-2x fa-facebook"></i></a>
					<a href="#"><i class="fa fa-2x fa-instagram"></i></a>
					<a href="#"><i class="fa fa-2x fa-info-circle"></i></a>
				</p>
				<h3>
					<a href="{{ site.baseurl }}/about/agencies">Agencies</a>
				</h3>
				<h3>
					<ul class="list-inline anchor">
						<!-- <a href="#"><img src="{{ site.baseurl }}/assets/images/marta_badge.png" class="brighten" title="MARTA" alt="MARTA" height="24" width="24"></a>
						<a href="#"><img src="{{ site.baseurl }}/assets/images/cct_badge.png" class="brighten" title="CCT" alt="CCT" height="24" width="24"></a>
						<a href="#"><img src="{{ site.baseurl }}/assets/images/gct_badge.png" class="brighten" title="GCT" alt="GCT" height="24" width="24"></a>
						<a href="#"><img src="{{ site.baseurl }}/assets/images/grta_badge.png" class="brighten" title="GRTA" alt="GRTA" height="24" width="24"></a>
						<a href="#"><img src="{{ site.baseurl }}/assets/images/streetcar_badge.png" class="brighten" title="Atlanta Streetcar" alt="Atlanta Streetcar" height="24" width="24"></a> -->
						<li><a  class="btn btn-primary" style="background-color:#E67C06; color:#eee!important" href="http://itsmarta.com">MARTA</a></li>
						<li><a  class="btn btn-primary" style="background-color:#B87AD2; color:#eee!important" href="#">CCT</a></li>
						<li><a  class="btn btn-primary" style="background-color:#A3BADC; color:#eee!important" href="#">GRTA</a></li>
						<li><a  class="btn btn-primary" style="background-color:#8B3155; color:#eee!important" href="#">GCT</a></li>
						<li><a  class="btn btn-primary" style="background-color:#0096A1; color:#eee!important" href="#">ATL Streetcar</a></li>
					</ul>
				</h3>
			</div>
		</div>
		<hr class="col-md-12">
		<div class="row bottom-buffer">
			<div class="col-md-3">
				<p><a href="/about/contact">Contact us</a></p>
			</div>
			<div class="col-md-3">
				<p><a href="/maps">Transit maps</a></p>
			</div>
			<div class="col-md-3">
				<p><a href="/fares">Fares</a></p>
			</div>
			<div class="col-md-3">
				<p><a href="/tools/alerts">Alerts</a></p>
			</div>
		</div>
	</div>
</footer>
