<footer class="footer">
	<div class="container">
		<div class="col-md-3 col-sm-6">
			<h3>
				<a href="{{ site.baseurl }}/about">About atltransit</a>
			</h3>
			<p>
				atltransit is the source for information about public transit in the Atlanta region.
			</p>
			<p>
				<a href="{{ site.baseurl }}/about">About atltransit</a>
			</p>
		</div>
		<div class="col-md-3 col-sm-6">
			<h3><a href="http://www.sf311.org/" target="_blank">311</a></h3>
			<p>Contact us 24/7/365: dial 311 (415.701.2311 outside SF).</p>
		</div>
		<div class="col-md-3 col-sm-6">
			<h3><a href="/feedback">Feedback</a></h3>

			<p>We’re always looking to get better, so whether it be compliments or complaints, let us know!</p>

			<p><a class="notactive" href="/feedback">Submit feedback</a></p>
			&nbsp;

			<p><a class="notactive" href="/feedback/title-vi-discrimination-complaints">Discrimination Complaints</a></p>
		</div>
		<div class="col-md-3 col-sm-6">
			<h3>
				<a href="/feedback">Social</a>
			</h3>
			<h3>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-instagram"></i></a>
				<a href="#"><i class="fa fa-info-circle"></i></a>
			</h3>
			<h3>
				<a href="{{ site.baseurl }}/agencies">Agencies</a>
			</h3>
			<h3>
				<a href="#"><img src="{{ site.baseurl }}/lib/images/marta_badge.png" class="brighten" title="MARTA" alt="MARTA" height="24" width="24"></a>
				<a href="#"><img src="{{ site.baseurl }}/lib/images/cct_badge.png" class="brighten" title="CCT" alt="CCT" height="24" width="24"></a>
				<a href="#"><img src="{{ site.baseurl }}/lib/images/gct_badge.png" class="brighten" title="GCT" alt="GCT" height="24" width="24"></a>
				<a href="#"><img src="{{ site.baseurl }}/lib/images/grta_badge.png" class="brighten" title="GRTA" alt="GRTA" height="24" width="24"></a>
				<a href="#"><img src="{{ site.baseurl }}/lib/images/streetcar_badge.png" class="brighten" title="Atlanta Streetcar" alt="Atlanta Streetcar" height="24" width="24"></a>
			</h3>
		</div>
		<hr class="col-md-12">
		<!-- <div class="col-md-3">
			<p><a href="#">About atltransit</a></p>
		</div> -->
		<div class="row bottom-buffer">
			<div class="col-md-3">
				<p><a href="#">Contact us</a></p>
			</div>
			<div class="col-md-3">
				<p><a href="#">Transit maps</a></p>
			</div>
			<div class="col-md-3">
				<p><a href="#">Fares</a></p>
			</div>
			<div class="col-md-3">
				<p><a href="#">Alerts</a></p>
			</div>
		</div>
	</div>
</footer>