<div class="row">
    <div class="col-md-12">
        <div class="row">
            <img class="img-responsive center-block top-buffer col-sm-3" src="/assets/images/MARTA_icon.jpg" alt="train icon" />
            <div class="col-sm-9">
                <h3>MARTA Rail</h3>
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Monday - Friday</h4>
                        <p>4:45 am-1:00 am</p>
                        <strong>Frequencies</strong>
                        <br />
                        <p>6:00 -9:00 am and 3:00 - 7:00 pm: 10 min
                            <br />
                            <!-- Midday &amp; Early Evening: 15 min<br /> -->
                            All other times: 20 min</p>
                    </div>
                    <div class="col-sm-6">
                        <h4>Weekends</h4>
                        <p>6:00 am-1:00 am</p>
                        <strong>Frequencies</strong>
                        <p>All weekend: 20 min</p>
                    </div>
                    <div class="col-sm-12">
                        <small><strong>Note:</strong>After 8:30 pm, the Red line only travels between Lindbergh Center and North Springs. On weekends, the Green Line only travels from Bankhead to King Memorial.</small>
                        <br>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        <img class="img-responsive center-block top-buffer col-sm-3" src="/assets/images/streetcar_icon.png" alt="streetcar icon" />
        <div class="col-sm-9">
            <h3>Atlanta Streetcar</h3>
            <div class="row">
                <div class="col-sm-6">
                    <h4>Monday - Thursday</h4>
                    <p>6:00 am - 11:00 pm every 10-15 mins</p>
                    <strong>Friday</strong>
                    <p>6:00 am - 1:00 am every 10-15 minutes</p>
                </div>
                <div class="col-sm-6">
                    <h4>Weekends</h4>
                    <p>Saturday: 8:30 am - 1:00 am</p>
                    <p>Sunday: 9:00 am - 11:00 pm</p>
                </div>
                <div class="col-sm-12">
                    <small><strong>Note:</strong> After 8:30 pm, the Red line only travels between Lindbergh Center and North Springs. On weekends, the Green Line only travels from Bankhead to King Memorial.</small>
                    <br>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        <img class="img-responsive center-block top-buffer col-sm-3" src="/assets/images/bus_icon.jpg" alt="bus icon" />
        <div class="col-sm-9">
            <h3>Buses by agency</h3>
            <div class="col-sm-9">
                <h4><strong>MARTA</strong></h4>
                <hr>
                <div class="row">
                    <div class="col-sm-6">
                        <strong>Monday - Friday</strong>
                        <p>5:00 am -1:00 am</p>
                    </div>
                    <div class="col-sm-6">
                        <strong>Weekends</strong>
                        <p>SAT: 6:00 am - 1:00 am</p>
                        <p>SUN: 6:00 am - 1:00 am</p>
                    </div>
                    <div class="col-sm-12">
                        <strong>Holiday</strong>
                        <p>
                            <a href="http://www.itsmarta.com/holiday-operating-schedule.aspx" target="_new">See Schedule</a></p>
                            <br> <br />
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <h4><strong>CobbLinc</strong></h4>
                <hr>
                <div class="row">
                    <div class="col-sm-6">
                        <strong>Monday - Friday</strong>
                        <p>5:00 am - 1:00 am</p>
                    </div>
                    <div class="col-sm-6">
                        <strong>Weekends</strong>
                        <p>SAT: Limited routes, 6:00 am - 12:00 am </p>
                        <p>SUN: No service</p>
                    </div>
                    <div class="col-sm-12">
                        <strong>Holiday</strong>
                        <p><a href="https://cobbcounty.org/index.php?option=com_content&view=article&id=4493:cobblinc-holiday-schedule&catid=431&Itemid=2072" target="_new">See Schedule</a></p>
                        <br> <br />
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <h4><strong>GCT</strong></h4>
                <hr>
                <div class="row">
                    <div class="col-sm-6">
                        <strong>Monday - Friday</strong>
                        <p>5:30 am - 9:00 pm</p>
                    </div>
                    <div class="col-sm-6">
                        <strong>Weekends</strong>
                        <p>SAT: Route 10A only, 6:00 am - 10:00 pm </p>
                        <p>SUN: No service</p>
                    </div>
                    <div class="col-sm-12">
                        <strong>Holiday</strong>
                        <p><a href="https://www.gwinnettcounty.com/portal/gwinnett/Departments/Transportation/GwinnettCountyTransit/RoutesandSchedules" target="_new">See Schedule</a></p>
                        <br> <br />
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <h4><strong>GRTA Xpress</strong></h4>
                <hr>
                <div class="row">
                    <div class="col-sm-6">
                        <strong>Monday - Friday</strong>
                        <p>5:00 am - 8:00 pm (some routes do not operate Friday)</p>
                    </div>
                    <div class="col-sm-6">
                        <strong>Weekends</strong>
                        <p>SAT: No service </p>
                        <p>SUN: No service</p>
                    </div>
                    <div class="col-sm-12">
                        <strong>Holiday</strong>
                        <p><a href="http://www.xpressga.com/xpress-holiday-schedule/" target="_new">See Schedule</a></p>
                        <br> <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
