<div class="row">
            <div class="col-md-12">
                        <div class="row">
                                    <img class="img-responsive center-block top-buffer col-sm-3" src="/assets/images/MARTA_icon.jpg" alt="train icon" />
                                    <div class="col-sm-9">
                                                <h3>MARTA Rail</h3>
                                                <div class="row">
                                                            <div class="col-sm-6">
                                                                        <strong>Monday - Friday</strong>
                                                                        <p>4:45 am-1:00 am</p>
                                                                        
                                                                        <strong>Frequencies</strong><br />
                                                                        <p>6:00 -9:00 am and 3:00 - 7:00 pm: 10 min<br />
                                                                        <!-- Midday &amp; Early Evening: 15 min<br /> -->
                                                                        All other times: 20 min</p>
                                                            </div>
                                                 <div class="row">
                                                            <div class="col-sm-6">
                                                                        <strong>Weekends</strong>
                                                                        <p>6:00 am-1:00 am</p>
                                                                        
                                                                        <strong>Frequencies</strong><br />
                                                                        <p>All weekend: 20 min</p>
                                                            </div>
                                                            <div class="col-sm-12">
                                                                        <small><strong>Note:</strong>After 8:30 pm, the Red line only travels between Lindbergh Center and North Springs. On weekends, the Green Line only travels from Bankhead to King Memorial.</small>
                                                                        <br><br />
                                                            </div>
                                                </div>
                                    </div>
                                    <div class="col-md-12">
                        <div class="row">
                                    <img class="img-responsive center-block top-buffer col-sm-3" src="/assets/images/streetcar_icon.png" alt="streetcar icon" />
                                    <div class="col-sm-9">
                                                <h3>Atlanta Streetcar</h3>
                                                <p>Monday - Thursday: 6:00am - 11:00pm every 10-15 mins</p>
                                                <p>Friday: 6:00am - 1:00am every 10-15 minutes</p>
                                    </div>
                        </div>
            </div>
                        </div>
            </div>
            <div class="col-md-12">
                        <div class="row">
                                    <img class="img-responsive center-block top-buffer col-sm-3" src="/assets/images/bus_icon.jpg" alt="bus icon" />
                                    <div class="col-sm-9">
                                                <h3>Buses (all agencies)</h3>
                                                <h4>Monday - Friday</h4>
                                                <p>
                                                            <strong>MARTA:</strong> 5am-1am<br />
                                                            <strong>GCT:</strong> 5:30am-9pm<br />
                                                            <strong>CobbLinc:</strong> 5am-1am<br />
                                                            <strong>GRTA Xpress:</strong> 5am-8pm (some routes do not operate Friday)
                                                </p>
                                    </div>
                        </div>
            </div>
</div>
<p><br/>
<div class="row">
            <div class="col-sm-4">
                        <h4>Saturday</h4>
                        <p>
                                    <strong>MARTA:</strong> 6:00 am-1:00 am<br />
                                    <strong>GCT:</strong> Route 10A only, 6:00 am-10:00 pm<br />
                                    <strong>CobbLinc:</strong> Limited routes, 6:00 am-12:00 am<br />
                                    <strong>Xpress:</strong> No service<br />
                                    <strong>Atlanta Streetcar:</strong> 8:30 am-1:00 am
                        </p>
            </div>
            <div class="col-sm-4">
                        <h4>Sunday</h4>
                        <p>
                                    <strong>MARTA:</strong> 6:00 am-1:00 am<br>
                                    <strong>GCT:</strong> No service<br>
                                    <strong>CobbLinc:</strong> No service<br>
                                    <strong>Xpress:</strong> No service<br>
                                    <strong>Atlanta Streetcar:</strong> 9:00am to 11:00pm<br>
                        </p>
            </div>
            <div class="col-sm-4">
                        <h4>Holidays</h4>
                        <p>
                                    <strong>MARTA:</strong><a href="http://www.itsmarta.com/holiday-operating-schedule.aspx" target="_new">Schedule</a><br>
                                    <strong>GCT:</strong><a href="https://www.gwinnettcounty.com/portal/gwinnett/Departments/Transportation/GwinnettCountyTransit/RoutesandSchedules" target="_new">Schedule</a><br>
                                    <strong>CobbLinc:</strong><a href="https://cobbcounty.org/index.php?option=com_content&view=article&id=4493:cobblinc-holiday-schedule&catid=431&Itemid=2072" target="_new">Schedule</a><br>
                                    <strong>Xpress:</strong><a href="http://www.xpressga.com/xpress-holiday-schedule/" target="_new">Schedule</a><br>
                                    <strong>Atlanta Streetcar:</strong><a href="http://streetcar.atlantaga.gov/schedule-fares/" target="_new">Schedule</a><br>
                        </p>
            </div>
</div></p>
