
<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span>Menu</span>
				<!-- <span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span> --> 
			</button>
			<a class="navbar-brand atltransit-logo" href="/">
				<img src="/build/images/logos/atltransit-logo-blue.png" width="180">
			</a>
		</div>
		
		
		<div id="main-navbar" class="collapse navbar-collapse navbar-right" aria-expanded="false">
			<ul class="nav navbar-nav">
				{% for item in site.data.nav reversed %}
					{% capture li_class_list %}{% if item.main != true %}visible-xs {% endif %}{% if item.main and item.dropdown %}dropdown mega-dropdown has-children{% endif %}{% endcapture %}
					{% comment %}{% capture attributes %}{% if item.main and item.dropdown %}class="collapsed" href="#{{ item.title | slugify }}-navbar" data-collapse-group="navbarCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="faresNavbar"{% endif %}{% endcapture %}{% endcomment %}
					<li class="menu-item {{ li_class_list }}">
						<a {{ attributes }} href="{{ item.url }}">
							<h3 class="menu-item-header">{{ item.title }}</h3>
							<div class="menu-item-caption visible-xs">
							{% if item.subitems.size > 0 %}
								{%comment%}
								{% assign titles = item.subitems | map: 'title' %}
								{{ titles | array_to_sentence_string }}
								{%endcomment%}
								{% for subitem in item.subitems limit:3 %}
								{{ subitem.title }}{% if forloop.last == false %}, {% endif %}
								{% endfor %}
							{% else %}
								{{ item.tagline }}
							{% endif %}
							</div>
						</a>
					</li>
				{% endfor %}
				<li class="menu-item dropdown mega-dropdown has-children">
					<a class="collapsed hidden-xs dropdown-link" data-target="#fares-transfers-navbar" href="/fares/" data-collapse-group="navbarCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="faresNavbar"><h3 class="menu-item-header">Fares & transfers</h3></a>
					<!-- <a class="visible-xs" href="/fares"><h3 class="menu-item-header">Fares & transfers</h3></a> -->
					{% include nav/mega-fares.html %}
				</li>
				<li class="menu-item dropdown hidden-xs mega-dropdown has-children">
					<a class="collapsed dropdown-link" data-target="#guide-navbar" href="/guide" data-collapse-group="navbarCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="guideNavbar"><h3 class="menu-item-header">Rider's guide</h3></a>
					{% include nav/mega-guide.html %}
				</li>
				<li class="menu-item dropdown hidden-xs mega-dropdown has-children">
					<a class="collapsed dropdown-link" data-target="#more-navbar" href="#" data-collapse-group="navbarCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="moreNavbar"><h3 class="menu-item-header">More</h3></a>
					{% include nav/mega-more.html %}
				</li>
			</ul>
			<div class="col-sm-2 pull-right hidden row">
				<form class="col-xs-12 col-sm-2 navbar-form navbar-right visible-*-inline" id="searchbox_XXXXXXXXXX:YYYYYYYYY" action="/search">
					<!-- <div class="btn-group" data-toggle="buttons">
						<label class="agency-arrivals-radio btn btn-default active">
							<input type="radio" name="options" id="option1" autocomplete="off" checked> En
						</label>
						<label class="agency-arrivals-radio btn btn-default">
							<input type="radio" name="options" id="option2" autocomplete="off"> Es
						</label>
					</div> -->
					<div class="input-group navbar-input-group">
						<input id="q" name="q" type="text" class="form-control navbar-search nav-search" placeholder="Search">
						<input value="012656238249604753028:qzpqrvzllsa" name="cx" type="hidden"/>
						<input value="FORID:11" name="cof" type="hidden"/>
						<!-- <input id="q" style="" name="q" size="75" type="text"/> -->
						<!-- <button class="btn">Search</button> -->
						<span class="input-group-btn">
							<button class="btn btn-primary nav-search" type="submit" style="margin-right:20px;"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
						</span>
					</div>
					<div style="width:0px;overflow:hidden;height:0px;"> <!-- if you use display:nonw here it doesn't work-->
						<gcse:searchbox-only></gcse:searchbox-only>
					</div>
				</form>  <!-- Search -->
			</div> <!-- Pull right -->
		</div><!-- /.nav-collapse -->
	</div> <!-- .container -->
</nav>
