<!-- <div class="container"> -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" style="padding-top:10px"  href="/">
			<img src="/assets/images/atltransit-logo-blue.png" width="180">
		</a>
	</div>
	
	
	<div class="collapse navbar-collapse js-navbar-collapse">
		<ul class="nav navbar-nav">
						<li><a href="/plan">Plan a trip</a></li>
						<li><a href="/tools/alerts">Status updates</a></li>
						<!-- <li><a href="#">Maps</a></li> -->
						<li><a href="/fares">Fares & transfers</a></li>
			<li class="dropdown mega-dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">More... <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
				<ul class="dropdown-menu mega-dropdown-menu row">
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header"><a href="https://is.breezecard.com/marta/">Purchase Breeze Card <span class="glyphicon glyphicon-chevron-right"></a></li>
								<div id="myCarousel" class="carousel slide" data-ride="carousel">
									<div class="carousel-inner">
										<div class="item active">
											<a href="https://is.breezecard.com/marta/"><img src="/assets/images/breeze_card.png" class="img-responsive" alt="product 1"></a>
											<p class="nav-highlight"><small>Use for any trip in the region</small></p>                                        
											<button class="btn btn-primary" type="button">$2.50</button> <a href="https://is.breezecard.com/marta/" class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"></span> Add trips</a>       
										</div><!-- End Item -->
									</div><!-- End Carousel Inner -->
								</div><!-- /.carousel -->
								<li class="divider"></li>
								<li><a href="#">View information on fares & transfers <span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
						</ul>
					</li>
					{% for item in site.data.nav %}
						{% if forloop.index == 1 or forloop.index == 3 or forloop.index == 5 %}
							<li class="col-sm-3 col-xs-6">
						{% endif %}
								<ul id="{{ item.category }}-subnav">
									<li class="dropdown-header"><a href="{{ item.url }}">{{ item.title }}</a></li>
									{% for subitem in item.dropdown %}
									{% if subitem.include != false %}	
										<li><a href="{{ subitem.url }}">{{ subitem.title }}</a></li>
									{% endif %}
									{% endfor %}
									{% if forloop.first or forloop.last or forloop.index == 3 %}
										<li class="divider"></li>
									{% endif %}
									{% if forloop.last %}
										<li class="dropdown-header"><a href="#">Newsletter / Alerts</a></li>
										<form class="form" role="form">
											<div class="form-group">
												<label class="sr-only" for="email">Email address</label>
												<input type="email" class="form-control" id="email" placeholder="Enter email">
											</div>
											<button type="submit" class="btn btn-primary btn-block">Sign up!</button>
										</form>
									{% endif %}
								</ul>
						{% if forloop.index == 2 or forloop.index == 4 %}
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</li>  
		</ul>
		<div class="col-sm-1 pull-right row">
				<form class="col-xs-12 col-sm-1 navbar-form navbar-right visible-*-inline" role="search">
					<!-- <div class="btn-group" data-toggle="buttons">
						<label class="agency-arrivals-radio btn btn-default active">
							<input type="radio" name="options" id="option1" autocomplete="off" checked> En
						</label>
						<label class="agency-arrivals-radio btn btn-default">
							<input type="radio" name="options" id="option2" autocomplete="off"> Es
						</label>
					</div> -->
					<div class="input-group navbar-input-group">
						<input type="text" class="form-control navbar-search nav-search" placeholder="Search">
						<span class="input-group-btn">
							<button class="btn btn-primary nav-search" type="submit" style="margin-right:20px;"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
						</span>
					</div>
				</form>
		</div>
	</div><!-- /.nav-collapse -->
</nav>