<script type="text/javascript">
  $.cookie.json = true;

  // Code to make the appropriate nav active
  var nav = '{{ page.category }}'
  if(nav != '')
    $('.' + nav ).addClass('active');

  var code = '';
  if($.cookie('token') !== undefined){
    console.log("cookie worked!")
  }
  else
    console.log("cookie didn't work!")

  var github;
  if(window.location.href.split('?').length > 1){
    code = window.location.href.match(/\?code=(.*)/)[1];
    $('.btn').button()
    $('#gh-login').button('loading')
    $.getJSON('http://gatekeeper-plan-it.herokuapp.com/authenticate/'+code, function(data) {
      
     console.log(data.token);
     $.cookie('token', data.token);
     window.history.pushState("object or string", "Title", "{{ site.baseurl }}/")
     $.getJSON("https://api.github.com/user?access_token="+ data.token, function(data){
        

        $.cookie('user', data)
        $('#welcome-message').html('<a style="margin-right:5px;" href="'+$.cookie('user').html_url+'">'+$.cookie('user').login+'</a><a style="margin-right:5px;" href="'+$.cookie('user').html_url+'"><img width="34px" style="margin-right:5px;" height="34px" src="'+$.cookie('user').avatar_url+'"></a>').show()
        $('#gh-login').removeClass('btn-success').addClass('btn-danger').text('Log out').attr('title', 'Log out of Plan-It')
        console.log('showing username')
        $('#gh-login').button('reset').text('Log out')
        if($.cookie('return-href') !== undefined){
          window.location = $.cookie('return-href')
        }
     })
    });
  }
  github = new Github({
      token: $.cookie('token'),
      auth: "oauth"
     })
  if ($.cookie('token') !== undefined){
    $('#welcome-message').html('<a style="margin-right:5px;" href="'+$.cookie('user').html_url+'">'+$.cookie('user').login+'</a><a style="margin-right:5px;" href="'+$.cookie('user').html_url+'"><img width="34px" style="margin-right:5px;" height="34px" src="'+$.cookie('user').avatar_url+'"></a>').show()
    $('#gh-login').removeClass('btn-success').addClass('btn-danger').text('Log out').attr('title', 'Log out of Plan-It')
    
  }


  $('#gh-view').click(function(){
    window.location='https://github.com/landonreed/plan-it'
  })
  $('#gh-login').click(function(){
    if($(this).hasClass('btn-success')){
      // $.cookie('return-href', window.location.href)
      // setTimeout(function(){
        window.location='https://github.com/login/oauth/authorize?response_type=code&client_id=a37cadae6a1f4bdd4237&scope=public_repo'  
      // }, 250)
      
    }
    else{
      window.location='{{ site.baseurl }}/'
      $.removeCookie('user', { path: '{{ site.baseurl }}' })
      $.removeCookie('token', { path: '{{ site.baseurl }}' })
      $('#welcome-message').hide()
      $('#gh-login').removeClass('btn-danger').addClass('btn-success').text('Log in').attr('title', 'Log in with GitHub')
      // window.location = '{{ site.baseurl }}/'
      
    }

  })
</script>