
<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
<li role="presentation" class="planner-tab-li active">
	<a href="#home" class="planner-tab" aria-controls="home" role="tab" data-toggle="tab">
		Plan trip
	</a>
</li>
<li role="presentation" class="planner-tab-li next" id="next-arrival-tab">
	<a href="#next-arrival" class="planner-tab" id="next-arrival-link" aria-controls="profile" role="tab" data-toggle="tab">
		Next arrival
	</a>
</li>
<!-- <li role="presentation">
	<a href="#nearby" class="planner-tab" aria-controls="nearby" role="tab" data-toggle="tab">
		Nearby
	</a>
</li> -->
<li role="presentation" class="planner-tab-li stop-code">
	<a href="#by-stop-id" class="planner-tab" id="stop-code-link" aria-controls="nearby" role="tab" data-toggle="tab">
		Stop ID
	</a>
</li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
	{% include tripplan-widget.html %}
	{% include realtime-widget.html %}
	{% include stopcode-widget.html %}
</div> <!-- end tab-content -->