
	<!-- Nav tabs -->
	<ul class="nav nav-tabs tool-tabs" id="myTab" role="tablist">
	<li role="presentation" class="nav-item planner-tab-li active">
		<a href="#home" class="nav-link planner-tab" aria-controls="home" role="tab" data-toggle="tab">
			<p class="text-center no-margin"><i class="fa fa-map-marker"></i></p>
			Plan trip
		</a>
	</li>
	<li role="presentation" class="nav-item planner-tab-li next" id="next-arrival-tab">
		<a href="#next-arrival" class="nav-link planner-tab" id="next-arrival-link" aria-controls="next-arrival" role="tab" data-toggle="tab">
			<p class="text-center no-margin"><i class="fa fa-clock-o"></i></p>
			Next arrival
		</a>
	</li>
	<li role="presentation" class="nav-item planner-tab-li stop-code" id="stop-code-tab">
		<a href="#by-stop-id" class="nav-link planner-tab" id="stop-code-link" aria-controls="by-stop-id" role="tab" data-toggle="tab">
			<p class="text-center no-margin"><i class="fa fa-exclamation-triangle"></i></p>
			Stop ID
		</a>
	</li>
	</ul>
	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active planner-pane" id="home">
			<div class="form col-md-10 col-md-offset-1 planner-form" action="plan">
				<div class="form-group hidden">
					<input class="form-control" type="text" name="fromPlace" >
				</div>
				<div class="form-group">
					<!-- <select class="form-control js-data-example-ajax select2" id="to" data-placeholder="From"></select> -->
					<!-- <input class="form-control " id="to" placeholder="From"/> -->
					<input class="form-control " id="planner-options-from" placeholder="From"/>
					<input id="planner-options-from-latlng" type="hidden" />
				</div>
				<div class="form-group hidden">
					<input class="form-control" type="text" name="toPlace" >
				</div>
				<div class="form-group">
					<!-- <select class="form-control js-data-example-ajax" id="from" data-placeholder="To"></select> -->
					<!-- <input class="form-control " id="from" placeholder="To"/> -->
					<input class="form-control " id="planner-options-dest" placeholder="To"/>
					<input id="planner-options-dest-latlng" type="hidden" />
				</div>
				<div class="form-group form-inline">
					<div class="btn-group">
						<button value="Leave now" type="button" name="arriveBy" class="btn btn-lg btn-default planner-time-btn btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fa fa-clock-o"></i> Leave now
						</button>
						<ul class="dropdown-menu planner-time-menu">
							<li><a class="dropdown-item" href="#">Leave now</a></li>
							<li><a class="dropdown-item" href="#">Depart at</a></li>
							<li><a class="dropdown-item" href="#">Arrive by</a></li>
						</ul>
					</div>
					<div class="btn-group pull-right">
						<button value="ATLtransit" type="button" class="btn btn-lg btn-default planner-choice-btn btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							ATLtransit
						</button>
						<ul class="dropdown-menu planner-choice-menu">
							<li><a class="dropdown-item" href="#">ATLtransit</a></li>
							<li><a class="dropdown-item" href="#">Google Transit</a></li>
							<!-- <li><a href="#">Depart at</a></li>
							<li><a href="#">Arrive by</a></li> -->
						</ul>
					</div>
					<!-- <div class="form-group left-buffer">
						<label class="radio-inline">
							<input type="radio" checked="checked" name="inlineRadioOptions" id="inlineRadio1" value="option1"> ATLtransit
						</label>
						<label class="radio-inline">
							<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Google
						</label>
					</div> -->
					<div style="display:none; width:117px; margin-top:5px;" id="planner-time-input" class="input-group bootstrap-timepicker">
						<input id="planner-timepicker" type="text" data-minute-step="1" style="padding-left:4px; border-top-left-radius: 4px;border-bottom-left-radius: 4px;" class="form-control" aria-describedby="planner-time-icon">
						<!-- <span class="glyphicon glyphicon-time" aria-hidden="true"></span> -->
						<span class="input-group-addon input-group-glyph glyphicon glyphicon-time" id="planner-time-icon" aria-hidden="true"></span>
					</div>
					<!-- <select class="form-control">
						<option style="background-image:url(http://iconshow.me/media/images/ui/ios7-icons/png/16/clock-outline.png);">Leave now</option>
						<option>Depart at</option>
						<option>Arrive by</option>
					</select> -->
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary" id="planner-go-btn">Plan my trip</button>
					<a href="{{ site.baseurl }}/plan" class="btn btn-lg btn-default pull-right">More options <i class="fa fa-caret-right"></i></a>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane planner-pane" id="next-arrival">
			<div class="form">
				<!-- Carousel
				================================================== -->
				<div id="next-carousel" class="carousel slide">
				     <!-- Indicators -->         
				    <div class="carousel-inner" id="next-carousel-inner">           
				        <div class="item active col-md-10 col-md-offset-1">
				            <div class="row">
								<div class="col-xs-5 form-group">
									<select id="next-arrivals-agencies" class="c-select arrivals-agencies col-xs-12 form-control">
										<option value="" selected>[Agency]</option>
										<option disabled value="MARTA">MARTA</option>
										<option disabled value="CCT">CobbLinc</option>
										<option disabled value="GRTA">GRTA</option>
										<option disabled value="GCT">GCT</option>
										<option disabled value="ASC">ATL Streetcar</option>
										<option disabled value="GATECH">Georgia Tech</option>
										<option value="Nearby">Nearby routes</option>
									</select>
								</div>
								<!-- <div class="col-xs-2">
									<p style="margin-top:6px;">OR</p>
								</div> -->
								<div class="form-group col-xs-7">
									<select id="next-arrivals-routes" class="c-select arrivals-routes form-control" disabled>
										<option>[Route]</option>
									</select>
									<button class="btn hidden btn-lg btn-default" id="get-location"><i class="fa fa-location-arrow"></i> Near</button>
								</div>
							</div>
							<div class="row">
								<!-- <div class="col-xs-7 form-group">
									<select id="next-arrivals-routes" class="arrivals-routes form-control" disabled>
										<option>[Route]</option>
									</select>
								</div> -->
								<div class="col-xs-12 form-group">
									<select id="next-arrivals-trips" class="c-select arrivals-trips form-control" disabled>
										<option>[Direction]</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 form-group">
									<select id="next-arrivals-stops" class="c-select arrivals-stops form-control" disabled>
										<option>[Stop]</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-xs-12">
									<a class="get-arrivals next btn btn-lg btn-primary disabled" id="next-arrivals-btn" href="#next-carousel" data-slide="next">Find next arrival</a>
									<a class="get-schedules btn btn-lg btn-default pull-right disabled" href="#next-carousel" data-slide="next"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Schedules</a>
								</div>
							</div>
				        </div> <!-- End Item -->
				        <div class="item">
				        	<div class="row">
				        		<!-- <div class="col-xs-2">	 -->
									<a class="btn hidden btn-lg btn-default back-btn" id="next-back-btn" href="#next-carousel" data-slide="prev"> <i class="fa fa-caret-left"></i> </a>
								<!-- </div> -->
								<div class="col-xs-10">
									<p class="stop-code-label" id="next-stop-code"></p>
									<p class="stop-name" id="next-stop-name"></p>
									
								</div>
								<div class="col-xs-2">
									<span class="pull-right last-updated" id="next-last-updated"></span>
								</div>
							</div>
				            <div class="row">
								<div class="next-arrivals table-responsive col-xs-12">
									<p class="arrival-msg" id="next-arrival-msg"></p>
									<table class="table table-hover table-inverse arrivals-table" id="next-arrivals-table"></table>
								</div>
							</div>
				         </div>  
				        <!-- <div class="item">
				            <blockquote>
				              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
				              <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
				            </blockquote>
				        </div>   -->                                                                                 
				    </div> 
				   <!-- <div class="carousel-controls"> -->
				      
				      
				  <!-- </div>                -->
				                                                
				</div><!-- End Carousel --> 
			</div>
		</div>
		<div role="tabpanel" class="tab-pane planner-pane" id="by-stop-id">
			<div class="form">
				<!-- Carousel
				================================================== -->
				<div id="test-carousel" class="carousel slide">
				     <!-- Indicators -->         
				    <div class="carousel-inner" id="stop-code-carousel-inner">           
				        <div class="item active col-md-10 col-md-offset-1">
				        	<div class="row">
				        		<div class="col-xs-6">	
									<a class="get-arrivals stop-code btn btn-lg btn-primary disabled" id="stop-code-arrivals-btn" href="#test-carousel" data-slide="next">Find next arrival</a>
								</div>
								<!-- <div class="form-group col-xs-6">
									<p class="text-right" style="margin-top:6px;">Enter ID</p>
								</div> -->
								<div class="form-group col-xs-6">
									<input class="form-control" id="stop-code" placeholder="103134">
									<input >
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<p class="stop-name" id="stop-code-error-msg"></p>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 form-group">
									<select style="visibility:hidden" id="nearby-arrivals-routes" class="c-select arrivals-routes form-control" disabled>
										<option value="">[Nearby routes]</option>
									</select>
								</div>
								<div class="col-xs-12 form-group">
									<select style="visibility:hidden" id="nearby-arrivals-stops" class="c-select arrivals-stops form-control" disabled>
										<option value="">[Nearby stops]</option>
									</select>
								</div>
							</div>
				        </div>
				        <div class="item">
				        	<div class="row">
				        		<!-- <div class="col-xs-2">	 -->
									<a class="btn hidden btn-lg btn-default back-btn" id="stop-code-back-btn" href="#test-carousel" data-slide="prev"> <i class="fa fa-caret-left"></i> </a>
								<!-- </div> -->
								<div class="col-xs-10">
									<p class="stop-code-label" id="stop-code-stop-code"></p>
									<p class="stop-name" id="stop-code-stop-name"></p>
								</div>
								<div class="col-xs-2">
									<span class="pull-right last-updated" id="stop-code-last-updated"></span>
								</div>
							</div>
				            <div class="row">
								<div class="stop-code-arrivals table-responsive col-xs-12">
									<p class="arrival-msg" id="stop-code-arrival-msg"></p>
									<table class="table table-hover  arrivals-table" id="stop-code-arrivals-table"></table>
								</div>
							</div>
				         </div> <!-- End Item --> 
				    </div>
				</div> <!-- End Carousel --> 
			</div>
		</div>
	</div> <!-- end tab-content -->
