
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" id="myTab" role="tablist">
	<li role="presentation" class="active">
		<a href="#home" class="planner-tab" aria-controls="home" role="tab" data-toggle="tab">
			Plan trip
		</a>
	</li>
	<li role="presentation">
		<a href="#profile" class="planner-tab" aria-controls="profile" role="tab" data-toggle="tab">
			Next arrivals
		</a>
	</li>
	<li role="presentation">
		<a href="#nearby" class="planner-tab" aria-controls="nearby" role="tab" data-toggle="tab">
			Nearby
		</a>
	</li>
	</ul>
	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active planner-pane" id="home">
			<div class="form">
				<div class="form-group">
					<input class="form-control" type="text" placeholder="From">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="To">
				</div>
				<div class="form-group form-inline">
					<div class="btn-group">
						<button type="button" class="btn btn-default planner-time-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="glyphicon glyphicon-time" aria-hidden="true"></span> Leave now <i class="fa fa-caret-down"></i>
						</button>
						<ul class="dropdown-menu planner-time-menu">
							<li><a href="#">Leave now</a></li>
							<li><a href="#">Depart at</a></li>
							<li><a href="#">Arrive by</a></li>
						</ul>
					</div>
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-default planner-choice-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							ATLtransit <i class="fa fa-caret-down"></i>
						</button>
						<ul class="dropdown-menu planner-choice-menu">
							<li><a href="#">ATLtransit</a></li>
							<li><a href="#">Google Transit</a></li>
							<!-- <li><a href="#">Depart at</a></li>
							<li><a href="#">Arrive by</a></li> -->
						</ul>
					</div>
					<!-- <div class="form-group left-buffer">
						<label class="radio-inline">
							<input type="radio" checked="checked" name="inlineRadioOptions" id="inlineRadio1" value="option1"> ATLtransit
						</label>
						<label class="radio-inline">
							<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Google
						</label>
					</div> -->
					<div style="display:none; width:150px; margin-top:5px;" id="planner-time-input" class="input-group bootstrap-timepicker">
						<input id="timepicker1" type="text" style="width:200;border-top-left-radius: 4px;border-bottom-left-radius: 4px;" class="form-control" aria-describedby="planner-time-icon">
						<!-- <span class="glyphicon glyphicon-time" aria-hidden="true"></span> -->
						<span class="input-group-addon glyphicon glyphicon-time" style="top:-0.5px" id="planner-time-icon" aria-hidden="true"></span>
					</div>
					<!-- <select class="form-control">
						<option style="background-image:url(http://iconshow.me/media/images/ui/ios7-icons/png/16/clock-outline.png);">Leave now</option>
						<option>Depart at</option>
						<option>Arrive by</option>
					</select> -->
				</div>
				<div class="form-group">
					<button class="btn btn-primary">Plan my trip</button>
					<button class="btn btn-default pull-right">More options <i class="fa fa-caret-right"></i></button>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane planner-pane" id="profile">
			<div class="form">
				<div class="form-group text-center">
					<div class="btn-group" data-toggle="buttons">
						<label class="agency-arrivals-radio btn btn-default active">
							<input type="radio" name="options" id="option1" autocomplete="off" checked> MARTA
						</label>
						<label class="agency-arrivals-radio btn btn-default">
							<input type="radio" name="options" id="option2" autocomplete="off"> CCT
						</label>
						<label class="agency-arrivals-radio btn btn-default">
							<input type="radio" name="options" id="option3" autocomplete="off"> GRTA
						</label>
						<label class="agency-arrivals-radio btn btn-default">
							<input type="radio" name="options" id="option3" autocomplete="off"> GCT
						</label>
						<label class="agency-arrivals-radio btn btn-default">
							<input type="radio" name="options" id="option3" autocomplete="off"> Streetcar
						</label>
					</div>
					
				</div>
				<div class="form-group">
					<select class="form-control">
						<option>Route 2 - Ponce de Leon</option>
					</select>
				</div>
				<div class="form-group">
					<select class="form-control">
						<option>Ponce de Leon @ Piedmont Ave</option>
					</select>
				</div>
				<div class="form-group">
					<button id="get-next-arrival" class="btn btn-primary">Find next arrival</button>
					<p class="btn-align pull-right" id="next-arrival-msg" style="display:none; font-size: 1.3em; margin-bottom:20px;">24 min</p>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane planner-pane" id="nearby">
			<div class="form">
				<div class="form-group">
					<select class="form-control">
						<option>[Nearby routes]</option>
					</select>
				</div>
				<div class="form-group">
					<select class="form-control">
						<option>[Nearby stops]</option>
					</select>
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="Enter location...">
				</div>
				<div class="form-group">
					<button class="btn btn-primary">Use my location <i class="fa fa-location-arrow"></i></button>
				</div>
			</div>
		</div>

	</div> <!-- end tab-content -->