
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" id="myTab" role="tablist">
	<li role="presentation" class="active">
		<a href="#home" class="planner-tab" aria-controls="home" role="tab" data-toggle="tab">
			Plan trip
		</a>
	</li>
	<li role="presentation">
		<a href="#profile" class="planner-tab" aria-controls="profile" role="tab" data-toggle="tab">
			Next arrivals
		</a>
	</li>
	<li role="presentation">
		<a href="#nearby" class="planner-tab" aria-controls="nearby" role="tab" data-toggle="tab">
			Nearby
		</a>
	</li>
	</ul>
	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active planner-pane" id="home">
			<div class="form planner-form" action="plan">
				<div class="form-group">
					<input class="form-control" type="text" name="fromPlace" placeholder="From">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="toPlace" placeholder="To">
				</div>
				<div class="form-group form-inline">
					<div class="btn-group">
						<button value="Leave now" type="button" name="arriveBy" class="btn btn-default planner-time-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="glyphicon glyphicon-time" aria-hidden="true"></span> Leave now <i class="fa fa-caret-down"></i>
						</button>
						<ul class="dropdown-menu planner-time-menu">
							<li><a href="#">Leave now</a></li>
							<li><a href="#">Depart at</a></li>
							<li><a href="#">Arrive by</a></li>
						</ul>
					</div>
					<div class="btn-group pull-right">
						<button value="ATLtransit" type="button" class="btn btn-default planner-choice-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							ATLtransit <i class="fa fa-caret-down"></i>
						</button>
						<ul class="dropdown-menu planner-choice-menu">
							<li><a href="#">ATLtransit</a></li>
							<li><a href="#">Google Transit</a></li>
							<!-- <li><a href="#">Depart at</a></li>
							<li><a href="#">Arrive by</a></li> -->
						</ul>
					</div>
					<!-- <div class="form-group left-buffer">
						<label class="radio-inline">
							<input type="radio" checked="checked" name="inlineRadioOptions" id="inlineRadio1" value="option1"> ATLtransit
						</label>
						<label class="radio-inline">
							<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Google
						</label>
					</div> -->
					<div style="display:none; width:117px; margin-top:5px;" id="planner-time-input" class="input-group bootstrap-timepicker">
						<input id="planner-timepicker" type="text" data-minute-step="1" style="padding-left:4px; border-top-left-radius: 4px;border-bottom-left-radius: 4px;" class="form-control" aria-describedby="planner-time-icon">
						<!-- <span class="glyphicon glyphicon-time" aria-hidden="true"></span> -->
						<span class="input-group-addon glyphicon glyphicon-time" style="top:-0.5px" id="planner-time-icon" aria-hidden="true"></span>
					</div>
					<!-- <select class="form-control">
						<option style="background-image:url(http://iconshow.me/media/images/ui/ios7-icons/png/16/clock-outline.png);">Leave now</option>
						<option>Depart at</option>
						<option>Arrive by</option>
					</select> -->
				</div>
				<div class="form-group">
					<button class="btn btn-primary" id="planner-go-btn">Plan my trip</button>
					<a href="{{ site.baseurl }}/plan" class="btn btn-default pull-right">More options <i class="fa fa-caret-right"></i></a>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane planner-pane" id="profile">
			<div class="form">
				<div class="form-group text-center">
					<div class="btn-group" data-toggle="buttons">
						<label class="agency-arrivals-radio btn btn-default">
							<input type="radio" name="agency-arrivals-option" value="MARTA" id="option1" autocomplete="off"> MARTA
						</label>
						<label class="agency-arrivals-radio btn btn-default">
							<input type="radio" name="agency-arrivals-option" value="CCT" id="option2" autocomplete="off"> CCT
						</label>
						<label class="agency-arrivals-radio btn btn-default">
							<input type="radio" name="agency-arrivals-option" value="GRTA" id="option3" autocomplete="off"> GRTA
						</label>
						<label class="agency-arrivals-radio btn btn-default">
							<input type="radio" name="agency-arrivals-option" value="GCT" id="option3" autocomplete="off"> GCT
						</label>
						<label class="agency-arrivals-radio btn btn-default">
							<input type="radio" name="agency-arrivals-option" value="ASC" id="option3" autocomplete="off"> ASC
						</label>
					</div>
					
				</div>
				<div class="form-group">
					<select id="next-arrivals-routes" class="arrivals-routes form-control" disabled>
						<option>[Select Route]</option>
					</select>
				</div>
				<div class="form-group">
					<select id="next-arrivals-stops" class="arrivals-stops form-control" disabled>
						<option>[Select Stop]</option>
					</select>
				</div>
				<div class="form-group">
					<button class="get-next-arrival btn btn-primary">Find next arrival</button>
					<p class="btn-align pull-right arrival-msg" id="next-arrival-msg" style="display:none; font-size: 1.3em; margin-bottom:20px;"></p>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane planner-pane" id="nearby">
			<div class="form">
				<div class="form-group">
					<select id="nearby-arrivals-routes" class="nearby arrivals-routes form-control" disabled>
						<option>[Nearby routes]</option>
					</select>
				</div>
				<div class="form-group">
					<select id="nearby-arrivals-stops" class="nearby arrivals-stops form-control" disabled>
						<option>[Nearby stops]</option>
					</select>
				</div>
				<div class="form-group">
					<input class="nearby form-control" type="text" placeholder="Enter location...">
				</div>
				<div class="form-group">
					<button class="nearby btn btn-default" id="get-location"><i class="fa fa-location-arrow"></i></button>
					<button class="get-next-arrival nearby btn btn-primary">Find next arrival</button>
					<p class="btn-align pull-right arrival-msg" id="nearby-arrival-msg" style="display:none; font-size: 1.3em; margin-bottom:20px;"></p>
				</div>
			</div>
		</div>

	</div> <!-- end tab-content -->