{% for item in site.data.nav %}
	{% if item.category == page.category %}
	<div class="col-sm-6 col-xs-12 sidebar nocontent">
		<h4>More in <a href="{{ item.url }}">{{ item.title }}</a></h4>
		<ul class="nav">
		{% comment %}
		{% if item.title == page.title %}
			<li class="nav-header active"><a href="{{ item.url }}">{{ item.title }}<span class="sr-only">(current)</span></a></li>
		{% else %}
			<li class="nav-header"><a href="{{ item.url }}">{{ item.title }}</a></li>
		{% endif %}
		{% endcomment %}
		{% if item.subitems %}
			{% for subitem in item.subitems %}
				{% if subitem.title == page.title or subitem.slug == page.layout %}
					<li class="active"><a class="thumbnail thumbnail-link" href="{{ subitem.url }}">{{ subitem.title }}<span class="sr-only">(current)</span></a>
						{% comment %}
							{% assign sections = page.content | split: '## ' %}
							{% if sections[0] %}
								<ul class="nav nav-sidebar toc nav-sidebar-sub hidden-sm hidden-xs" style="list-style-type: none;">
								{% for section in sections %}
									{% assign headers = section | newline_to_br | strip_new_lines | split: '<br />' %}
									{% assign first_char = headers[0] | strip %}
									{% if headers[0] and headers[0] != "" and  headers[0] != '{::options parse_block_html="true" /}' %}	
										<li class="anchor-link"><a class="btn btn-default" href="#{{ headers[0] | strip_html | slugify }}">{{ headers[0] | strip_html }}</a></li>
									{% endif %}
								{% endfor %}
								</ul>
							{% endif %}
							{% if page.sections %}
								<ul class="nav nav-sidebar nav-sidebar-sub toc hidden-sm hidden-xs" style="list-style-type: none;">
									{% for section in page.sections %}
										<li class="anchor-link"><a class="btn btn-default" href="#{{ section | slugify }}">{{section}}</a></li>
									{% endfor %}
								</ul>
							{% endif %}
						
						{% if page.layout == 'agency' %}
							<ul class="nav nav-sidebar nav-sidebar-sub hidden-sm hidden-xs" style="list-style-type: none;">
								{% for agency in site.agencies %}
									{% if agency.name == page.name %}<li class="active"><a href="{{ agency.url }}">{{agency.title}}</a><span class="sr-only">(current)</span></li>{% else %}<li><a href="{{ agency.url }}">{{agency.title}}</a></li>{% endif %}
								{% endfor %}
							</ul>
						{% endif %}	
						{% endcomment %}
					</li>
				{% else %}
	    			<li class=" text-left"><a class="thumbnail thumbnail-link" href="{{ subitem.url }}">{{ subitem.title }}</a></li>
	    		{% endif %}	
	    	{% endfor %}
	    {% endif %}
	    	</ul>
		</div>
	{% endif %}
{% endfor %}

{% if page.related %}
<div class="col-sm-6 col-xs-12 sidebar nocontent">
	<h4>Learn more</h4>
	<ul class="nav">
			{% for category in page.related %}
				{% for item in site.pages %}
					{% if item.id == category %}
						<li><a class="thumbnail thumbnail-link" href="{{ item.url }}">{{ item.title }}</a></li>
					{% else %}
						{% for subitem in item.subitems %}
							{% if subitem.title == category %}
				    			<li><a class="thumbnail thumbnail-link" href="{{ subitem.url }}">{{ subitem.title }}</a></li>
				    		{% endif %}	
				    	{% endfor %}
					{% endif %}
					
				{% endfor %}
			{% endfor %}
	</ul>
</div>
{% endif %}
