<div class="row">
<div class="col-sm-8">
    <!-- <h4> -->
    <span>Station</span><span class="pull-right">Agencies</span>
    <ul class="list-group">
        <li class="list-group-item">Lindbergh
            <span class="badge" style="background:orange;">MARTA</span>
            <span class="badge" style="background:rgb(154, 14, 52);">GCT</span>
        </li>
        <li class="list-group-item">Dunwoody
            <span class="badge" style="background:orange;">MARTA</span>
            <span class="badge" style="background:rgb(165, 56, 149);">CCT</span>
            <span class="badge" style="background:rgb(71, 168, 213);">GRTA</span>
        </li>
        <li class="list-group-item">North Springs
            <span class="badge" style="background:orange;">MARTA</span>
            <span class="badge" style="background:rgb(71, 168, 213);">GRTA</span>
        </li>
        <li class="list-group-item">Medical Center
            <span class="badge" style="background:orange;">MARTA</span>
            <span class="badge" style="background:rgb(71, 168, 213);">GRTA</span>
        </li>
        <li class="list-group-item">Arts Center
            <span class="badge" style="background:orange;">MARTA</span>
            <span class="badge" style="background:rgb(154, 14, 52);">GCT</span>
            <span class="badge" style="background:rgb(165, 56, 149);">CCT</span>
            <span class="badge" style="background:rgb(71, 168, 213);">GRTA</span>
        </li>
        <li class="list-group-item">Midtown
            <span class="badge" style="background:orange;">MARTA</span>
            <span class="badge" style="background:rgb(154, 14, 52);">GCT</span>
            <span class="badge" style="background:rgb(165, 56, 149);">CCT</span>
            <span class="badge" style="background:rgb(71, 168, 213);">GRTA</span>
        </li>
        <li class="list-group-item">North Avenue
            <span class="badge" style="background:orange;">MARTA</span>
            <span class="badge" style="background:rgb(154, 14, 52);">GCT</span>
            <span class="badge" style="background:rgb(165, 56, 149);">CCT</span>
            <span class="badge" style="background:rgb(71, 168, 213);">GRTA</span>
        </li>
        <li class="list-group-item">Civic Center
            <span class="badge" style="background:orange;">MARTA</span>
            <span class="badge" style="background:rgb(154, 14, 52);">GCT</span>
            <span class="badge" style="background:rgb(165, 56, 149);">CCT</span>
            <span class="badge" style="background:rgb(71, 168, 213);">GRTA</span>
        </li>
        <li class="list-group-item">Peachtree Center
            <span class="badge" style="background:orange;">MARTA</span>
            <span class="badge" style="background:rgb(154, 14, 52);">ATL</span>
        </li>
        <li class="list-group-item">Five Points
            <span class="badge" style="background:orange;">MARTA</span>
            <span class="badge" style="background:rgb(154, 14, 52);">GCT</span>
            <span class="badge" style="background:rgb(165, 56, 149);">CCT</span>
            <span class="badge" style="background:rgb(71, 168, 213);">GRTA</span>
        </li>
        <li class="list-group-item">Cumberland Mall
            <span class="badge" style="background:orange;">MARTA</span>
            <span class="badge" style="background:rgb(165, 56, 149);">CCT</span>
        </li>
        <li class="list-group-item">Hamilton E. Holmes
            <span class="badge" style="background:orange;">MARTA</span>
            <span class="badge" style="background:rgb(165, 56, 149);">CCT</span>
        </li>
        <li class="list-group-item">Doraville
            <span class="badge" style="background:orange;">MARTA</span>
            <span class="badge" style="background:rgb(154, 14, 52);">GCT</span>
        </li>
    </ul>
    <!-- </h4> -->
</div>
</div>
