<div role="tabpanel" class="tab-pane active planner-pane" id="home">
	<div class="form planner-form" action="plan">
		<div class="form-group hidden">
			<input class="form-control" type="text" id="planner-options-from-latlng" >
		</div>
		<div class="form-group">
			<input class="form-control " id="planner-options-from" placeholder="From"/>
		</div>
		<div class="form-group hidden">
			<input class="form-control" type="text" id="planner-options-dest-latlng" >
		</div>
		<div class="form-group">
			<input class="form-control " id="planner-options-dest" placeholder="To"/>
		</div>
		<div class="form-group form-inline">
			<div class="btn-group">
				<button value="Leave now" type="button" name="arriveBy" class="btn btn-default planner-time-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="glyphicon glyphicon-time" aria-hidden="true"></span> Leave now <i class="fa fa-caret-down"></i>
				</button>
				<ul class="dropdown-menu planner-time-menu">
					<li><a href="#">Leave now</a></li>
					<li><a href="#">Depart at</a></li>
					<li><a href="#">Arrive by</a></li>
				</ul>
			</div>
			<div class="btn-group pull-right">
				<button value="ATLtransit" type="button" class="btn btn-default planner-choice-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					ATLtransit <i class="fa fa-caret-down"></i>
				</button>
				<ul class="dropdown-menu planner-choice-menu">
					<li><a href="#">ATLtransit</a></li>
					<li><a href="#">Google Transit</a></li>
					<!-- <li><a href="#">Depart at</a></li>
					<li><a href="#">Arrive by</a></li> -->
				</ul>
			</div>
			<!-- <div class="form-group left-buffer">
				<label class="radio-inline">
					<input type="radio" checked="checked" name="inlineRadioOptions" id="inlineRadio1" value="option1"> ATLtransit
				</label>
				<label class="radio-inline">
					<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Google
				</label>
			</div> -->
			<div style="display:none; width:117px; margin-top:5px;" id="planner-time-input" class="input-group bootstrap-timepicker">
				<input id="planner-timepicker" type="text" data-minute-step="1" style="padding-left:4px; border-top-left-radius: 4px;border-bottom-left-radius: 4px;" class="form-control" aria-describedby="planner-time-icon">
				<!-- <span class="glyphicon glyphicon-time" aria-hidden="true"></span> -->
				<span class="input-group-addon input-group-glyph glyphicon glyphicon-time" id="planner-time-icon" aria-hidden="true"></span>
			</div>
			<!-- <select class="form-control">
				<option style="background-image:url(http://iconshow.me/media/images/ui/ios7-icons/png/16/clock-outline.png);">Leave now</option>
				<option>Depart at</option>
				<option>Arrive by</option>
			</select> -->
		</div>
		<div class="form-group">
			<button class="btn btn-primary" id="planner-go-btn">Plan my trip</button>
			<a href="{{ site.baseurl }}/plan" class="btn btn-default pull-right">More options <i class="fa fa-caret-right"></i></a>
		</div>
	</div>
</div>