<table class="table">
    <thead>
        <tr>
            <td style=" border: 0px !important;"></td>
            <td style=" border: 0px;"></td>
            <td colspan="5" class="text-center"><h4>TO</h4></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="6" style="width:20px;position:relative;left:70px;-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-o-transform: rotate(-90deg); z-index:-1000;"><h4>FROM</h4></td>
            <td></td>
            <td class="text-center">
                <strong>MARTA</strong>
            </td>
            <td class="text-center">
                <strong>GCT</strong>
            </td>
            <td class="text-center">
                <strong>CobbLinc</strong>
            </td>
            <td class="text-center">
                <strong>GRTA</strong>
            </td>
            <td class="text-center">
                <strong>ATL Streetcar</strong>
            </td>
        </tr>
        <tr>
            <td>
                <strong>MARTA</strong>
            </td>
            <td class="text-center success"><a class="transfer" href="#from-marta"><span class="glyphicon glyphicon-ok" title="Free transfer allowed."></span></a>
            </td>
            <td class="text-center success"><a class="transfer" href="#from-marta"><span class="glyphicon glyphicon-ok" title="Free transfer allowed."></span></a>
            </td>
            <td class="text-center success"><a class="transfer" href="#from-marta"><span class="glyphicon glyphicon-ok" title="Free transfer allowed."></span></a>
            </td>
            <td class="text-center success"><a class="transfer" href="#from-marta"><span class="glyphicon glyphicon-ok" title="Free transfer allowed."></span></a>
            </td>
            <td class="text-center success"><a class="transfer" href="#from-grta"><span class="glyphicon glyphicon-ok" title="Free transfer allowed."></span></a>
            </td>
        </tr>
        <tr>
            <td>
                <strong>GCT</strong>
            </td>
            <td class="text-center success"><a class="transfer" href="#from-gct"><span class="glyphicon glyphicon-ok" title="Free transfer allowed."></span></a>
            </td>
            <td class="text-center success"><a class="transfer" href="#from-gct"><span class="glyphicon glyphicon-ok" title="Free transfer allowed."></span></a>
            </td>
            <td class="text-center danger"><a class="transfer" href="#sub-exp"><span class="glyphicon glyphicon-remove" title="Free transfer not allowed."></span></a>
            </td>
            <td class="text-center danger"><a class="transfer" href="#sub-exp"><span class="glyphicon glyphicon-remove" title="Free transfer not allowed."></span></a>
            </td>
            <td class="text-center danger"><a class="transfer" href="#from-grta"><span class="glyphicon glyphicon-remove" title="Free transfer not allowed."></span></a>
            </td>
        </tr>
        <tr>
            <td>
                <strong>CobbLinc</strong>
            </td>
            <td class="text-center success"><a class="transfer" href="#from-cct"><span class="glyphicon glyphicon-ok" title="Free transfer allowed."></span></a>
            </td>
            <td class="text-center danger"><a class="transfer" href="#sub-exp"><span class="glyphicon glyphicon-remove" title="Free transfer not allowed."></span></a>
            </td>
            <td class="text-center success"><a class="transfer" href="#from-cct"><span class="glyphicon glyphicon-ok" title="Free transfer allowed."></span></a>
            </td>
            <td class="text-center danger"><a class="transfer" href="#sub-exp"><span class="glyphicon glyphicon-remove" title="Free transfer not allowed."></span></a>
            </td>
            <td class="text-center danger"><a class="transfer" href="#from-grta"><span class="glyphicon glyphicon-remove" title="Free transfer not allowed."></span></a>
            </td>
        </tr>
        <tr>
            <td>
                <strong>GRTA</strong>
            </td>
            <td class="text-center success"><a class="transfer" href="#from-grta"><span class="glyphicon glyphicon-ok" title="Free transfer allowed."></span></a>
            </td>
            <td class="text-center danger"><a class="transfer" href="#sub-exp"><span class="glyphicon glyphicon-remove" title="Free transfer not allowed."></span></a>
            </td>
            <td class="text-center danger"><a class="transfer" href="#sub-exp"><span class="glyphicon glyphicon-remove" title="Free transfer not allowed."></span></a>
            </td>
            <td class="text-center danger"><a class="transfer" href="#from-grta"><span class="glyphicon glyphicon-remove" title="Free transfer not allowed."></span></a>
            </td>
            <td class="text-center danger"><a class="transfer" href="#from-grta"><span class="glyphicon glyphicon-remove" title="Free transfer not allowed."></span></a>
            </td>
        </tr>
        <tr>
            <td>
                <strong>ATL Streetcar</strong>
            </td>
            <td class="text-center warning"><a class="transfer" href="#from-grta"><span class="glyphicon glyphicon-question-sign" title="Free transfer allowed."></span></a>
            </td>
            <td class="text-center danger"><a class="transfer" href="#sub-exp"><span class="glyphicon glyphicon-remove" title="Free transfer not allowed."></span></a>
            </td>
            <td class="text-center danger"><a class="transfer" href="#sub-exp"><span class="glyphicon glyphicon-remove" title="Free transfer not allowed."></span></a>
            </td>
            <td class="text-center danger"><a class="transfer" href="#from-grta"><span class="glyphicon glyphicon-remove" title="Free transfer not allowed."></span></a>
            </td>
            <td class="text-center danger"><a class="transfer" href="#from-grta"><span class="glyphicon glyphicon-remove" title="Free transfer not allowed."></span></a>
            </td>
        </tr>
    </tbody>
</table>
