---

---
<!doctype html>
<html manifest="/auto.appcache">
{% include header.html %}
<body>
	{% include nav-hover.html %}
	{% include page-header.html %}
	<div class="container site-container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="page-content">
					{% include anchor-nuggets.html %}
					<img class="img-responsive center-block" style="max-height:170px" src="{{ page.logo }}">
					<h2 class="row-heading">General</h2>
					{{content}}
					{% include agency_page_content.html %}
				</div>
				<div class="row top-buffer bottom-buffer">
					{% include sidebar.html %}
				</div>
			</div>
			
		</div>
	</div>
	{% include footer.html %}
<script type="text/javascript" src="{{ site.baseurl }}/build/js/atltransit.js"></script>
<script type="text/javascript">
	// console.log(atltransit.nav);
	// console.log(atltransit.nav['{{ page.category }}']);
	// $('.nav-sidebar').append('<li><a href="/{{ page.category }}">{{ page.category }}</a></li>');
	// $.each(atltransit.nav['{{ page.category }}'], function(i, item){
	// 	var activeLabel = '';
	// 	var activeBar = '';
	// 	if ('{{ page.id }}' === item ){
	// 		activeLabel = '<span class="sr-only">(current)</span>';
	// 		activeBar = 'class="active"';
	// 	}
	// 	$('.nav-sidebar').append('<li ' + activeBar + '><a href="/{{ page.category }}/' + item + '">'+item + activeLabel + '</a></li>');
	// });
	
</script>
</body>

</html>