---

---
<!doctype html>
<html manifest="/auto.appcache">
{% include header.html %}
<body>
	{% include nav.html %}
	<div class="content">
		<div class="home-container">
			<div class="container-fluid site-container">
				<div class="row">
					<div class="col-md-12">
					{{content}}
				</div>
				</div>
			</div>
		</div>
	</div>
	{% include footer.html %}
{% include scripts.html %}
<script type="text/javascript">
	$('#test-carousel').carousel({
		interval: false
	});
</script> 
<script type="text/javascript" src="{{ site.baseurl }}/build/js/atltransit.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<link rel="stylesheet" href="/assets/css/jquery-ui-1.10.3.custom.css" />
<script type="text/javascript" src="/plan/plan-util.js"></script>
</body>
</html>