---

---

<!doctype html>
<html manifest="/auto.appcache">
{% include header.html %}
<body>
	{% include nav.html %}
	{% include page-header.html %}
	<div class="container site-container">
		<!-- <div class="row"> -->
		<!-- </div> -->
		<div class="row">
			{% if page.id == page.category %}
				<div class="col-md-12 page-content">
					{% include category.html %}
					{{content}}
				</div>
			{% else %}
				<div class="col-md-9 page-content {{ page.design }}">
					{% if page.sidebar != false %}
						{% include anchor-nuggets.html %}
					{% endif %}
					{{content}}
				</div>
				{% if page.sidebar != false %}
					{% include sidebar.html %}
				{% endif %}
			{% endif %}
		</div>
	</div>
	{% include footer.html %}
<script type="text/javascript" src="{{ site.baseurl }}/build/js/atltransit.js"></script>
<script type="text/javascript">
	// console.log(atltransit.nav);
	// console.log(atltransit.nav['{{ page.category }}']);
	// $('.nav-sidebar').append('<li><a href="/{{ page.category }}">{{ page.category }}</a></li>');
	// $.each(atltransit.nav['{{ page.category }}'], function(i, item){
	// 	var activeLabel = '';
	// 	var activeBar = '';
	// 	if ('{{ page.id }}' === item ){
	// 		activeLabel = '<span class="sr-only">(current)</span>';
	// 		activeBar = 'class="active"';
	// 	}
	// 	$('.nav-sidebar').append('<li ' + activeBar + '><a href="/{{ page.category }}/' + item + '">'+item + activeLabel + '</a></li>');
	// });
	
</script>
</body>

</html>