<form class="form" role="form" target="_blank" action="http://landonreed.us10.list-manage.com/subscribe">
	<div class="row">
		<div class="form-group {{ include.size }}">
			<label class="sr-only" for="email">Email or phone #</label>
			<input type="email" class="form-control" id="email" name="MERGE0" placeholder="Email or phone #">
			<input type="hidden" name="u" value="c696d91e5e00690330747077c" />
			<input type="hidden" name="id" value="22fd804e1b" />
		</div>
	</div>
	<button type="submit" class="btn btn-primary">Sign up!</button>
</form>

